<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side by Side</title>
	<link rel="stylesheet" href="/stylesheets/global.css">
	<link rel="stylesheet" href="/stylesheets/user_dashboard.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script type="text/javascript" src="jquery-1.9.1.min.js"></script>
  	<script type="text/javascript" src="jquery.autocomplete.min.js"></script>
	<script type="text/javascript" src="customer_search.js"></script>
</head>

<body>
	<div id="main">
		<div id="header">
			<a href="/"><img src="/images/sidebysidelogo_header.svg" alt=""></a>
			<div id="header_options">
				<a href="" class="user_element"><img id="user_icon" src="/images/user168.svg" alt="">    <%= name %></a>
				<a href="logout" class="user_element"><img id="logout_icon" src="/images/logout21.svg" alt=""></a>
			</div>
		</div>	
		<div id="content">
			<div id="center_container">
				<h1>Welcome, <%= name %></h1>
				<% if (message == "registration success") { %>
				<p>Thank you for registering with us. This is your dashboard. You can create new business plans from here and view previously saved plans.</p>
				<button onclick="location.href = '/showcategories';" type="submit" id="create_new_plan" class="btn btn-default">+ Create New Plan</button>		
				<% } else if (message == "display homepage") { %>
				<button onclick="location.href = '/showcategories';" type="submit" id="create_new_plan" class="btn btn-default">+ Create New Plan</button>
				<div id="subtitle">
					<h3>Saved business plans</h3>
				</div>

				<div id="saved_plans">
					<table>
						<% for(var i=1; i<=plans.length; i++) { %>
							<% if (i%4 == 0 || i==1) { %>
								<tr class="row">
							<% } %>
								<td class="col">
									<div class="business_name"><a href='plans/<%= plans[i-1].plan_name %>'>
										<%= plans[i-1].plan_name %>
										</a>
									</div>
									<div class="date_created"><%= plans[i-1].last_modified %>
									</div>
									<button type="submit" class="btn btn-default edit">Edit</button>
									<button type="submit" class="btn btn-default view">View Analytics</button>
								</td>
							<% if (i%3 == 0 && i!=1) { %>
								</tr>
							<% } %>
						<% } %>
					</table>
				</div>
				<% } %>
			</div>
		</div>
		<div id="footer"></div>
	</div>
</body>
</html>